* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body{
    background-color: rgb(80, 78, 78);  
}
h1 {
    font-size: 38px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.card {
    display: inline;
}

p{
    text-align: center; 
}

.nav-wrapper {
    background-color:#20B2AA;
    background-image: linear-gradient(rgba(11, 11, 36, 0.5), rgba(8, 191, 173, 0.5)),
                  url("./images/movie.jpg");
    }

  img{
    text-align: center;
    align-items: center;
    color:#20B2AA;;
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    border-style: none;
    display: block;
    margin-left: 52%;
    margin-top: -50%;
    
} 

#currentMovie, p {
    color: white;
    margin-right: -22%;
    margin-left: 40%;
}

#search-movie{
    width: 20%;
    margin-left: 10px;
    margin-top: 30px;
    color: white;
}

.btn {
    color: rgb(250, 241, 241);
    margin: 2px;
    width: 50px;
}

.historyL {
    font-size: 41px;
    font-family: "comic sans ms";
    display: block;
}

ul {
    margin: 5%;
    font-size: 300%;
    font-weight: 900;
}

button {
    color: white; 
    border-radius: 10px;
    width: 300px;
    white-space: nowrap;
    display: block;
    margin: 4px;
    margin-left: -59px;
    background-color: teal;
}

 #clear-history {
    margin-left: 10px;
    background-color: red;
    height: 54px;
    border-radius: 10px;
    margin-top: -3%;
}

#clear-history:hover {
    margin-left: 10px;
    background-color: rgba(94, 22, 22, 0.872);
    height: 54px;
    border-radius: 10px;
}

a {
    color:#20B2AA;
    font-size: x-large;
    font-family: monospace;
    display: flex;

    align-items: flex-end;
    justify-content: flex-end;
}

#currentMovie, a:hover {
    color:red;
    font-size: x-large;
}












