* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body{
    background-color: rgb(80, 78, 78);  
}

p{
    color: white;
    font-size: smaller;
    text-align: center;
    /* width: 100%;
    height: 73px; */
    background-color: red;
    margin: 0%;
    width: 26%;
    margin-left: 38%;
}

#div-movie-review {
    color:yellow;
    margin-left: 13%;
    background-color: red;
    margin-left: 39%;
}

#div-movie-review,  {
    color:yellow;
    margin-left: 13%;
    background-color: red;
    margin-left: 39%;
}


.nav-wrapper {
    background-color:#20B2AA;
    background-image: linear-gradient(rgba(11, 11, 36, 0.5), rgba(8, 191, 173, 0.5)),
                  url("./images/movie.jpg");
    
}

 img{
    text-align: center;
    align-items: center;
    color:#20B2AA;;
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    border-style: none;
    margin-left: 40%;
    display: block;
    
}

#currentMovie, a {
    color:red;
}



#currentMovie, p {
    color: white;
    
    
}

#search-movie{
    width: 20%;
    margin-left: 10px;
    margin-top: 30px;
    color: white;
}

.btn {
    color: rgb(250, 241, 241);
    margin: 2px;
    width: 50px;
    
}

#movie-history {
    display: flex;
}

.historyL {
    font-size: 41px;
    font-family: monospace;
    background-color: teal;
    display: inline-block;
}

ul {
margin: 5%;
font-size: 300%;
font-weight: 900;
}
button {
    color: white;
    border-radius: 10px;
    width: 300px;
    white-space: nowrap;
    display: block;
    margin: 4px;
    margin-left: -59px;
    background-color: teal;
    
}

 #clear-history {
    margin-left: 10px;
    background-color: red;
    height: 54px;
    border-radius: 10px;
}

#clear-history:hover {
    margin-left: 10px;
    background-color: rgba(94, 22, 22, 0.872);
    height: 54px;
    border-radius: 10px;
}

a {
    color:#20B2AA;
    font-size: x-large;
    font-family: monospace;
}

#currentMovie, a:hover {
    color:red;
    font-size: x-large;
}



.footer {
    color: #20B2AA;
    text-align: left;
    margin-top: 50%;
    align-items: center;
    font-weight: bold;
    
}

.about {
font-size: xx-large;
}





